<configuration>
    <springProfile name="default,d,dev,develop,development">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
    <springProfile name="t,test,testing,p,prod,production">
        <logger name="org.hibernate" level="OFF" />
        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeContext>false</includeContext>
                <includeMdc>true</includeMdc>
                <fieldNames>
                    <level>level</level>
                    <logger>sourceContext</logger>
                    <timestamp>date</timestamp>
                    <thread>threadId</thread>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <rootCauseFirst>true</rootCauseFirst>
                    <maxDepthPerThrowable>4</maxDepthPerThrowable>
                    <shortenedClassNameLength>25</shortenedClassNameLength>
                </throwableConverter>
            </encoder>
        </appender>
        <appender name="jsonConsoleAppenderAsync" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
            <appender-ref ref="jsonConsoleAppender" />
        </appender>
        <root level="WARN">
            <appender-ref ref="jsonConsoleAppenderAsync"/>
        </root>
    </springProfile>
</configuration>