<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, caller-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>[[${title}]]</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:700,400&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/notavailable.css">
</head>
<body class="notavailable-page">
    <div class="notavailable-container">
        <img src="/styles/images/logo_long.svg" alt="ONLYOFFICE Logo" class="notavailable__logo">
        <img src="/styles/images/background_notavailable.svg" alt="ONLYOFFICE Not Available Background" class="notavailable-container__illustration">
        <div class="notavailable-container__title-block">
            [[${title}]]
        </div>
        <div class="notavailable-container__description">
            [[${text}]]
        </div>
        <button onclick="window.close()" class="notavailable-container__button">
            [[${button}]]
        </button>
    </div>
</body>
</html>