<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${installationTitle}]]</title>
    <link rel="stylesheet" href="/styles/install.css">
</head>
<body>
    <div class="installation">
        <img src="/styles/images/installation_logo.svg" alt="ONLYOFFICE Logo" class="installation__logo">
        <h1 class="installation__title">
            [[${installationTitle}]]
        </h1>
        <p class="installation__subtitle">
            [[${installationSubtitle}]]
        </p>
        
        <a th:href="${installationUrl}" class="installation__button">
            [[${installationButton}]]
        </a>
        
        <div class="installation__content">
            <div class="features">
                <div class="features__item">
                    <div class="features__icon">✓</div>
                    <span>[[${installationFeatureEdit}]]</span>
                </div>
                <div class="features__item">
                    <div class="features__icon">✓</div>
                    <span>[[${installationFeatureCollaboration}]]</span>
                </div>
                <div class="features__item">
                    <div class="features__icon">✓</div>
                    <span>[[${installationFeatureFileSupport}]]</span>
                </div>
                <div class="features__item">
                    <div class="features__icon">✓</div>
                    <span>[[${installationFeatureSecureEditing}]]</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 