<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, caller-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>[[${nosettingsTitle}]]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:700,400&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/nosettings.css">
</head>
<body class="nosettings-page">
    <div class="nosettings-container">
        <img src="/styles/images/logo_long.svg" alt="ONLYOFFICE Logo" class="nosettings__logo">
        <img src="/styles/images/background_nosettings.svg" alt="ONLYOFFICE No Settings Background" class="nosettings-container__illustration">
        <div class="nosettings-container__title-block">
            [[${nosettingsText}]]
        </div>
        <div class="nosettings-container__description">
            [[${nosettingsDescription}]]
        </div>
        <a href="/settings" class="nosettings-container__button">
            [[${nosettingsButton}]]
        </a>
    </div>
</body>
</html>