.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    text-align: center;
}

.container__header {
    margin-bottom: 2.5rem;
}

.container__main {
    margin-bottom: 2.5rem;
}

.container__button {
    border: none;
    border-radius: 0.2rem;
    color: #FFFFFF;
    background-color: #FF6F3D;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.container__button:hover {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.container__button:link {
    color: #FFFFFF;
    text-decoration: none;
}

.container__button:visited {
    color: #FFFFFF;
    text-decoration: none;
}